<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>

<body>
<h1>Регистрация</h1>
<form action="#" th:action="@{/register}" th:object="${registerRequest}" method="post">
    <label for="email">E-Mail:</label>
    <input type="text" id="email" th:field="*{email}">
    <br>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}">
    <br>
    <button type="submit">Регистрация</button>
</form>
<a href="/">На главную</a>
</body>

</html>
